# Projet DataBeez

In [195]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.impute import SimpleImputer

from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression, LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

from sklearn.model_selection import train_test_split

In [165]:
data = pd.read_csv('german_credit_data.csv')

In [166]:
data.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,2,49,male,1,own,little,NaN,2096,12,education,good
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,4,53,male,2,free,little,little,4870,24,car,bad

In [167]:
data.shape

(1000, 11)

In [168]:
(data.isnull().sum()/data.shape[0])*100

Unnamed: 0           0.0
Age                  0.0
Sex                  0.0
Job                  0.0
Housing              0.0
Saving accounts     18.3
Checking account    39.4
Credit amount        0.0
Duration             0.0
Purpose              0.0
Risk                 0.0
dtype: float64

In [169]:
data.drop(data.columns[0],axis=1,inplace=  True) # suppression de la colonne Unnamed:0

In [170]:
data.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,49,male,1,own,little,NaN,2096,12,education,good
3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,53,male,2,free,little,little,4870,24,car,bad

In [171]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               1000 non-null   int64
 1   Sex               1000 non-null   object
 2   Job               1000 non-null   int64
 3   Housing           1000 non-null   object
 4   Saving accounts   817 non-null    object
 5   Checking account  606 non-null    object
 6   Credit amount     1000 non-null   int64
 7   Duration          1000 non-null   int64
 8   Purpose           1000 non-null   object
 9   Risk              1000 non-null   object
dtypes: int64(4), object(6)
memory usage: 78.3+ KB

In [172]:
data['Age'].dtype

dtype('int64')

In [173]:
liste1  = [col for col in data.columns if data[col].dtypes == 'object']
dictionaire = {}
for dict in liste1:
    dictionaire[dict] = data[dict].values
#print(dictionaire)

Variables_categoriques = pd.DataFrame(dictionaire)

In [174]:
Variables_categoriques

,Sex,Housing,Saving accounts,Checking account,Purpose,Risk
0,male,own,NaN,little,radio/TV,good
1,female,own,little,moderate,radio/TV,bad
2,male,own,little,NaN,education,good
3,male,free,little,little,furniture/equipment,good
4,male,free,little,little,car,bad
...,...,...,...,...,...,...
995,female,own,little,NaN,furniture/equipment,good
996,male,own,little,little,car,good
997,male,own,little,NaN,radio/TV,good
998,male,free,little,little,radio/TV,bad
999,male,own,moderate,moderate,car,good

In [175]:
liste1  = [col for col in data.columns if data[col].dtypes == 'int64']
dictionaire1 = {}
for dict in liste1:
    dictionaire1[dict] = data[dict].values
#print(dictionaire)

Variables_numerique = pd.DataFrame(dictionaire1)

In [176]:
print(Variables_numerique)

     Age  Job  Credit amount  Duration
0     67    2           1169         6
1     22    2           5951        48
2     49    1           2096        12
3     45    2           7882        42
4     53    2           4870        24
..   ...  ...            ...       ...
995   31    1           1736        12
996   40    3           3857        30
997   38    2            804        12
998   23    2           1845        45
999   27    2           4576        45

[1000 rows x 4 columns]

In [177]:
bon, mal = 0,0
for i in data[data['Housing'] == 'own']['Risk'].values:
    if i == 'good':
        bon +=1
    else:
        mal += 1

print(f"pas de risque a :{(bon/data.shape[0])*100} %,selon la sa sution domiciale ")
print(f"le risque est a : {(mal/data.shape[0]*100)} %, selon sa sutiation domiciale ")

pas de risque a :52.7 %,selon la sa sution domiciale
le risque est a : 18.6 %, selon sa sutiation domiciale

In [178]:
bon, mal = 0,0
for i in data[data['Checking account'] == 'moderate']['Risk'].values:
    if i == 'good':
        bon +=1
    else:
        mal += 1

print(f"pas de risque a :{(bon/data.shape[0])*100} %,selon la sa sution domiciale ")
print(f"le risque est a : {(mal/data.shape[0]*100)} %, selon sa sutiation domiciale ")

pas de risque a :16.400000000000002 %,selon la sa sution domiciale
le risque est a : 10.5 %, selon sa sutiation domiciale

## Creation de pipeline

In [179]:
Variables_categoriques = Variables_categoriques.drop('Risk',axis=1)
Variables_categoriques.head()

      Sex Housing Saving accounts Checking account              Purpose
0    male     own             NaN           little             radio/TV
1  female     own          little         moderate             radio/TV
2    male     own          little              NaN            education
3    male    free          little           little  furniture/equipment
4    male    free          little           little                  car

In [197]:
pipeline_numerique = make_pipeline(SimpleImputer(),StandardScaler())
pipeline_categorique = make_pipeline(SimpleImputer(strategy = 'most_frequent'),LabelEncoder())

In [198]:
transformer = make_column_transformer((pipeline_numerique,Variables_numerique),
                                      (pipeline_categorique,Variables_categoriques))

In [190]:
X = data.drop('Risk',axis= 1)
Targets = (data[['Risk']])

In [191]:
X

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,67,male,2,own,NaN,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,NaN,2096,12,education
3,45,male,2,free,little,little,7882,42,furniture/equipment
4,53,male,2,free,little,little,4870,24,car
...,...,...,...,...,...,...,...,...,...
995,31,female,1,own,little,NaN,1736,12,furniture/equipment
996,40,male,3,own,little,little,3857,30,car
997,38,male,2,own,little,NaN,804,12,radio/TV
998,23,male,2,free,little,little,1845,45,radio/TV
999,27,male,2,own,moderate,moderate,4576,45,car

In [192]:
Targets

     Risk
0    good
1     bad
2    good
3    good
4     bad
..    ...
995  good
996  good
997  good
998   bad
999  good

[1000 rows x 1 columns]

In [200]:
# Diviser les données en ensembles d'entraînement et de test

X_train, X_test, y_train, y_test = train_test_split(X, Targets, test_size=0.2, random_state=42)

# Liste des modèles à tester
list_models = [RandomForestClassifier(), DecisionTreeClassifier(), KNeighborsClassifier()]

# Transformer pour normaliser les données
#transformer1 = StandardScaler()

# Boucle sur les modèles
for model in list_models:
    # Créer le pipeline
    pipelinefinal = make_pipeline(transformer, model)
    
    # Entraîner le pipeline
    pipelinefinal.fit(X_train, y_train)
    
    # Évaluer la précision sur les données de test
    score = pipelinefinal.score(X_test, y_test)
    
    # Afficher le score du modèle
    print(f"Modèle : {model.__class__.__name__}")
    print(f"Score : {score}")
    print("************************")

ValueError: No valid specification of the columns. Only a scalar, list or slice of all integers or all strings, or boolean mask is allowed