# Projet DataBeez

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('german_credit_data.csv')

In [3]:
data.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,2,49,male,1,own,little,NaN,2096,12,education,good
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,4,53,male,2,free,little,little,4870,24,car,bad

In [4]:
data.shape

(1000, 11)

In [5]:
(data.isnull().sum()/data.shape[0])*100

Unnamed: 0           0.0
Age                  0.0
Sex                  0.0
Job                  0.0
Housing              0.0
Saving accounts     18.3
Checking account    39.4
Credit amount        0.0
Duration             0.0
Purpose              0.0
Risk                 0.0
dtype: float64

In [6]:
data.drop(data.columns[0],axis=1,inplace=  True) # suppression de la colonne Unnamed:0

In [7]:
data.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,49,male,1,own,little,NaN,2096,12,education,good
3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,53,male,2,free,little,little,4870,24,car,bad

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               1000 non-null   int64
 1   Sex               1000 non-null   object
 2   Job               1000 non-null   int64
 3   Housing           1000 non-null   object
 4   Saving accounts   817 non-null    object
 5   Checking account  606 non-null    object
 6   Credit amount     1000 non-null   int64
 7   Duration          1000 non-null   int64
 8   Purpose           1000 non-null   object
 9   Risk              1000 non-null   object
dtypes: int64(4), object(6)
memory usage: 78.3+ KB

In [23]:
data['Age'].dtype

dtype('int64')

In [34]:
liste1  = [col for col in data.columns if data[col].dtypes == 'object']
dictionaire = {}
for dict in liste1:
    dictionaire[dict] = data[dict].values
#print(dictionaire)

Variables_categoriques = pd.DataFrame(dictionaire)

In [25]:
Variables_categoriques

['Sex', 'Housing', 'Saving accounts', 'Checking account', 'Purpose', 'Risk']

In [8]:
bon, mal = 0,0
for i in data[data['Housing'] == 'own']['Risk'].values:
    if i == 'good':
        bon +=1
    else:
        mal += 1

print(f"pas de risque a :{(bon/data.shape[0])*100} %,selon la sa sution domiciale ")
print(f"le risque est a : {(mal/data.shape[0]*100)} %, selon sa sutiation domiciale ")

pas de risque a :52.7 %,selon la sa sution domiciale
le risque est a : 18.6 %, selon sa sutiation domiciale

In [9]:
bon, mal = 0,0
for i in data[data['Checking account'] == 'moderate']['Risk'].values:
    if i == 'good':
        bon +=1
    else:
        mal += 1

print(f"pas de risque a :{(bon/data.shape[0])*100} %,selon la sa sution domiciale ")
print(f"le risque est a : {(mal/data.shape[0]*100)} %, selon sa sutiation domiciale ")

pas de risque a :16.400000000000002 %,selon la sa sution domiciale
le risque est a : 10.5 %, selon sa sutiation domiciale

## Creation de pipeline